.container {
    height: 95%;
    background-color: #eee;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: var(--mat-sys-primary-container);
  // color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-large);
}

.content-container {
  padding: 15px;
}
